:root{
    --cor-azul-padrão:#007bff;
}
/* Altera a cor do texto do título do formulário */
.text-primary {
    color: var(--cor-azul-padrão) !important; /* Cor azul padrão do Bootstrap */
}
.tituloCabecalho{
    margin-right:20px;
    padding-right:20px;
    border-right: 3px solid #fff;
}